.profile{
    margin: 64px 0px 0px;
}
.profile .container {
    margin: 5px auto;
    max-width: 1152px;
    position: relative;
}

.profile_section {
    padding: 10px;
    position: relative;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin: 30px auto 10px;
}

.icons {
    position: absolute;
    top: -25px;
    right: 25%;
    height: 40px;
    width: 40px;
    overflow: hidden;
    border: 1px dashed #d0d5dd;
    border-radius: 50%;
    padding: 24px;
    object-fit: cover;
    transition: ease-in 0.3s;
}

.icons img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 21px;
    height: 23px;
    color: #d0d5dd;
    object-fit: cover;
}

.profile_section #profile__img {
    height: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_name {
    font-weight: bold;
    padding: 24px 0px 0px;
    color: #101828;
}

.profile_name h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #101828;
}
.profile_name #slack{
    display: none;
}

.threedot_icon {
    display: none;
}

@media screen and (max-width: 812px) {
    .icons {
        right: 3%;
        transition: ease-out 0.3s;
    }
    .share_icon {
        display: none;
    }

    .threedot_icon {
        display: block;
    }
}