.footer {
    padding: 48px 0;
}
.content {
    display: flex;
    justify-content: space-between;
}
.content img {
    height: 2rem;
}
.content>div {
    padding: 10px;
    height: 55px;
    display: flex;
    align-items: center;
}
.grey_text {
    color: #667085;
}
hr {
    margin: 40px 0px 35px;
}
.footer .container {
    margin: 1px auto;
    max-width: 1120px;
}
@media screen and (max-width: 812px) {
    .footer{
        padding: 32px 0;
    }
    .content {
        flex-direction: column;
    }
}